.chatbox-container
  height 100%
  background #f1f1f1
  .chatbox-input
    height 30%
    flex-grow 2
    letter-spacing 1px
    padding 3%
    font-size: 16px
    background #ffffff
    margin-right .5rem
    border-radius 3px
    margin-left 1rem
    border none
  .chatbox-expression
  .chatbox-more
  .chatbox-send
    margin-right .5rem
  .chatbox-send
    height: 36px;
    line-height: 36px;
    font-size: $font-size-small;
    text-align: center;
    width 3rem
    border-radius 3px
    background #7e5ad0
    color #ffffff