.search
  width 100vw
  height 100vh
  position fixed
  z-index 999
  left 0
  top 0
  background #f2f2f2
  .van-search__content
    background #ffffff !important
  .search-tip
    text-align center
    font-size $font-size-small
    color #9a9a9a
    margin-top .7rem
  .search-confirm
    margin-top 6vw