.app-header
  position fixed
  z-index 101
  top 0
  // color $color-theme
  box-shadow: 0px -2px 8px 0px #9c9c9c
  left 0
  .logo-link
    height 100%
    font-weight bold
    letter-spacing 0
    font-size 1rem
    margin-top 1px
    color #000000
  .logo-more
    font-size 1.6rem
    // width 100px
    height 3rem
    line-height 3rem
    padding-left -10px
    display block
  .chatheader-container
    >span
      margin-top 1px
      font-weight bold
      letter-spacing 0
  .setting-container
    width 100vw
    height 100vh
    z-index 99
    position fixed
    top 0
    left 0
  .setting
    height auto
    flex-direction column
    position fixed
    border-radius 4px
    right 1rem
    background #ffffff
    top 3.5rem
    box-shadow: 2px 2px 6px -1px #c1c1c1
    >div
      width 9rem
      height 3rem
      >span 
        margin-left .5rem
        margin-top 1px



