.chatblock
  .chatblock-right
    align-items flex-start
    .chat-square
      max-width 60%
      background #7e5ad0
      color white
      border-radius 4px
      min-height 2.8rem
      box-sizing border-box
      padding 0.7rem 0.5rem 0.5rem 0.5rem
      font-size 1rem
      line-height 1.4rem
      letter-spacing 1px
      margin-right 1rem
    .chatblock-image
      margin-right .7rem
      border-radius 4px
      width 2.8rem
      height 2.8rem

   .chatblock-left
    align-items flex-start
    .chat-square
      max-width 60%
      background #ffffff
      border-radius 4px
      min-height 2.8rem
      box-sizing border-box
      padding 0.7rem 0.5rem 0.5rem 0.5rem
      font-size 1rem
      line-height 1.4rem
      letter-spacing 1px
      margin-right 1rem
      margin-left 1rem
    .chatblock-image
      margin-left .7rem
      border-radius 4px
      width 2.8rem
      height 2.8rem