.index
  position fixed
  width 100vw
  height 100vh
  left 0
  top 0
  background #ffffff
  z-index 999
  box-sizing border-box
  padding 10vw 5vw
  .login-bottom
    font-size $font-size-small
    // color #ccccccc
    position absolute
    left 50%
    bottom 5vw
    transform translate(-50%,0)
    .login-div
      margin 0 3vw
  .login
    .title
      // margin-top 10vw
      font-size $font-size-big
      margin-bottom 10vw
    .login-button
      margin-top 2rem
  .register
    .title
      margin-top 10vw
      font-size $font-size-big
      margin-bottom 10vw
    .register-button
      margin-top 2rem

