$font-size-small = .85rem
$font-size-normal = 1.05rem
$font-size-medium = 1.25rem
$font-size-big = 1.6rem

$border-radius-small = .45rem
$border-radius-normal = .6rem
$border-radius-medium = 1rem
$border-radius-big = 1.25rem
$border-radius-large = 1.5rem

$color-theme = #652d90
$color-background = #efefef
$color-tip = #9c9c9c
$color-text = #404040
$color-shallow-text = #606060
$color-grey = #bfbfbf
$color-shallow-grey = #dadada
$color-shallow-white = #f1f1f1

$box-shadow = 0 3px 12px -5px #9c9c9c